:root {
  background-color: rgb(36, 36, 36);
  color: white;
}

.Header {
  padding: 10px;
  background-color: rgb(66, 66, 66);
  display: flex;
  margin: 0;
  top: 0;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.Location {
  font-size: 1.2rem;
  margin-right: 0.25rem;
  color: white;
}

.Location i {
  margin-right: 0.5rem;
}

.search-container {
  display: flex;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0 1rem;
  position: relative;
}

.search-icon {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding-right: 1rem;
  color: white;
}

.search-input ::placeholder {
  color: white;
}
.search-input input {
  height: 40px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 1rem;
}

.Body {
  padding: 3rem;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.CurrentWeather {
  display: flex;
  color: white;
}

.temperature {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
  width: 250px;
  height: auto;
}

.real {
  font-size: 3rem;
}

.feels-like {
  font-size: 1.1rem;
}

.summary {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.other-info {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
  flex: 1;
  height: auto;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.widget-container {
  padding: 0.5rem;
  margin: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.icon {
  margin-right: 0.5rem;
}

.Forecast {
  margin-top: 2rem;
}

.forecast-widget-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin-top: 0.5rem;
  padding-top: 1.5rem;
}

.widget {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  margin-right: 0.75rem;
  min-width: 115px;
  border: 1px solid white;
  border-radius: 1rem;
}

.day {
  position: absolute;
  top: -1.5rem;
}

.icon-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

.icon-temp img {
  width: 40px;
  margin-right: 0.25rem;
}

.wind {
  margin-top: 0.25rem;
  display: flex;
}

.speed {
  margin-right: 0.25rem;
}

.wind-dir {
  font-size: 0.8rem;
  margin-left: 0.25rem;
}

.search-results {
  border-radius: 0.5rem;
  background-color: rgb(66,66,66);
  z-index: 10;
  top: 140%;
  width: 100%;
  max-height: 50vh;
  overflow-x: hidden;
  position: absolute;
}

.results-container {
  max-height: 200px;
  overflow-y: auto;
}

.result {
  padding: 1rem;
  font-size: 1.1rem;
  cursor: pointer;

  &:hover {
    background-color: black;
  }
}

.Settings {
  display: flex;
  flex-direction: row;
}

.Settings h4 {
  padding-right: 0.5rem;
}

.measurements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.system {
  padding: 1rem;
  cursor: pointer;
  border: solid white;
  border-width: 1px;

  &.active{
    background-color: white;
    color: black;
  }
}

.infobox {
  position: absolute;
  display: inline-block;
  z-index: 2;
  visibility: hidden;
  right: 0;
  left: 75%;
  top: 100%;
  border: solid white;
  border-width: 1px;
  border-radius: 1px;
  background-color: rgb(36,36,36);
  color: white;
  &.open {
    visibility: visible;
  }
}

.description {
  padding: 1rem;
}

.note {
  padding: 1rem;
}
